

/*Title Containers*/
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color:hsl(185, 75%, 39%);
    font-weight: 400;
}
.red{
    
    height:200px;
    width:350px;
    text-align: center;
    position: absolute;
    left:500px;
    bottom: 270px;
    z-index: 1;
}
.red-2{
    background-color: rgb(255, 255, 255);
    height:200px;
    width:350px;
    text-align: center;
    position: absolute;
    top: 80px;
}
 
/*images*/ 

.profile{
  position: relative;
  bottom:60px;
  border-radius: 100%;
  background-color: white;
  padding:3px;
}
.card-bg{
    border-radius: 15px;
    position: relative;
    bottom:30px;
}
hr{
    position: relative;
    left:0px;
    width: 350px;
    top: 140px;
}


/*Text*/
.text{
    Font-size:18px;
    text-align: center;
    position: absolute;
    z-index: 1;
}
h4{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    
    text-align: center;
    position: relative;
    left:70px;
    top: 5px;
    padding: 5px;
}
.age{
    font-weight: 400;
    padding: 5px;
    color: gray;
}
.location{
    position: relative;
    top:10px;
   margin-left: 140px;
    color: hsl(0, 0%, 59%);
    font-size:large;
   
    
}
.num{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: large;
    text-align: center;
   position: relative;
   right:70px;
   bottom:10px;
   padding: 0%;

}

.Followers{
    
    text-align: center;
    padding-top: 10%;
    border-radius: 15px;
    position: absolute;
    right:0px;
    top:270px;
     height:100px;
     width:350px;
     z-index: -1;
     background-color: rgb(255, 255, 255);
}
p{
    position: relative;
    bottom: 10px;
    font-size:smaller;
    color: hsl(0, 0%, 59%);
}

/* Background*/

.top {
    position: relative;
bottom:550px;
right:350px;
   transform: rotate(20deg);
  
}
.bottom{
    position: relative;
    left:600px;
    bottom: 650px;
    transform: rotate(-10deg);
}
.attribution{
    color:white;
 position: relative;
 text-align: center;

}

@media (max-width:850px){
.red{
    position: absolute;
    left:20%;
    top: 20%;
    
}
.top {
    
right:175px;
   transform: rotate(20deg);
  
}
.bottom{
  
    bottom: 325px;
    transform: rotate(-10deg);
}

}

